
svg[hidden] {
   display: none;
   
   &:has(defs filter) {
      display: initial;
      width:    0px;
      height:   0px;
      position: absolute;
   }
}

.view {
   display: grid;
   grid-template:
      "header"
      "area" 1fr / auto
   ;
   
   border:  1px solid #000;
   padding: 8px;
   --checkerboard-color-a: #888;
   --checkerboard-color-b: #444;

   background-image: conic-gradient(
      var(--checkerboard-color-a) 0deg,
      var(--checkerboard-color-a) 90deg,
      var(--checkerboard-color-b) 90deg,
      var(--checkerboard-color-b) 180deg,
      var(--checkerboard-color-a) 180deg,
      var(--checkerboard-color-a) 270deg,
      var(--checkerboard-color-b) 270deg
   ) !important;
   background-size: 16px 16px;
   
   >header {
      grid-area: header;
      background: #FFF;
      font-weight: bold;
      padding: .25em .5em;
   }
   
   >.layer {
      grid-area: area;
      position:  relative;
   
      width:  364px;
      height: 102px;
      
      &.raster img {
         image-rendering: pixelated;
      }
   }
   
   /* specific views */
   
   & {
      .layer.raster {
         clip-path: xywh(0 0 var(--raster-x, 0px) 100%);
      }
      .layer.vector {
         clip-path: xywh(var(--raster-x, 0px) 0 100% 100%);
         /*background: inherit;*/
      }
   }
   
   &.active {
      button {
         appearance: none;
         color:   transparent;
         border:  0;
         padding: 0;
         margin:  0;
         background-color: transparent;
         
         position: absolute;
         
         /*
            use a pseudo-element for the actual visuals so that we can control 
            the clickable hitbox via pointer-events and friends.
            
            in some cases, we'll want to use `pointer-events: none` on the 
            visuals, and rely on the shape of the ancestor element. in other 
            cases, we may want to use `pointer-events: none` on the ancestor 
            element and use a second pseudo-element to define the hit area.
         */
         &::before {
            pointer-events: none;
            content: " ";
            display: block;
            
            position: absolute;
            
            background-repeat: no-repeat;
         }
      }
      button.play-pause {
         left:   166px;
         top:    1px;
         width:  0px;
         height: 0px;
         font-size: 0px !important;
         
         &::after {
            content: " ";
            display: block;
            position: absolute;
            left:   0;
            top:    0;
            width:  100px;
            height: 100px;
            clip-path: ellipse(43px 43px at center center);
         }
         
         &::before {
            width:  100px;
            height: 100px;
            
            left: 0px;
            top:  0px;
            
            background-image: url(play-pause.svg);
            background-size: 100px 100px;
         }
         
         &:hover::before {
            background-image: url(play-pause.svg#play-hover) !important;
         }
         &:active::before {
            background-image: url(play-pause.svg#play-active) !important;
         }
         &:is([disabled], :disabled)::before {
            background-image: url(play-pause.svg#play-disabled) !important;
         }
      }
      button.stop {
         left:   6px;
         top:    28px;
         width:  46px;
         height: 46px;
         
         /*
            use a pseudo-element for the actual visuals so that we can control 
            the clickable hitbox via pointer-events and friends
         */
         &::before {
            pointer-events: none;
            width:   58px;
            height:  60px;
            
            left: -8px;
            top:  -4px;
            
            background-image: url(spritesheet-generic.svg#normal);
            background-size:  58px 60px;
         }
         &:hover::before {
            background-image: url(spritesheet-generic.svg#hover) !important;
         }
         &:active::before {
            background-image: url(spritesheet-generic.svg#active) !important;
         }
         &:is([disabled], :disabled)::before {
            background-image: url(spritesheet-generic.svg#disabled) !important;
         }
      }
      button.next,
      button.prev {
         left:   256px;
         top:    16px;
         width:  0px;
         height: 0px;
         
         &::after {
            content: " ";
            display: block;
            position: absolute;
            left:   4px;
            top:    12px;
            width:  112px;
            height: 70px;
            clip-path: path("M 4 0 l 79 0 q 15 0 15 23 q 0 23 -15 23 l -78 0 q -3 0 -3 -2 C 2 42 6 37 6 23 c 0 -14 -4 -19 -4 -21 Q 2 0 5 0 z");
         }
         
         /*
            use a pseudo-element for the actual visuals so that we can control 
            the clickable hitbox via pointer-events and friends
         */
         &::before {
            pointer-events: none;
            width:   112px;
            height:  70px;
            
            left: 0px;
            top:  0px;
            
            background-image: url(spritesheet-next.svg);
            background-size:  112px 70px;
         }
         &::before {
            background-image: url(spritesheet-next.svg#normal-next);
         }
         &:hover::before {
            background-image: url(spritesheet-next.svg#hover-next);
         }
         &:active::before {
            background-image: url(spritesheet-next.svg#active-next);
         }
         &:is([disabled], :disabled)::before {
            background-image: url(spritesheet-next.svg#disabled-next);
         }
      }
      button.prev {
         left: calc(76px + 112px - 12px);
         
         transform-box:    content-box;
         transform-origin: center center;
         transform:        scale(-100%, 100%);
      }
   }
}

.disable-alpha {
   filter: url(#filter-disable-alpha);
}

li {
   margin: 1em 0;
}
*:first-child { margin-top: 0 }
*:last-child { margin-bottom: 0 }

#seek-slider {
   appearance: none;
   
   box-sizing: border-box;
   width:  100px;
   height: 4px;
   
   border: 1px solid #A8A8A9;
   border-top-color: #A8A8A9;
   border-bottom-color: #CECDCF;
   border-radius: 2px;
   
   padding: 0;
   margin:  0;
   
   &::-moz-range-progress {
      all: unset;
      
      width:  16px;
      height:  4px;
      background: linear-gradient(to bottom, #7FC9FA, #014CB6, #619FF2);
      background-size: 16px 3px;
      background-position: 0 1px;
      background-repeat: repeat-x;
      
      border-radius: 0 0 33% 33%;
   }
   
   &::-moz-range-thumb,
   &::-webkit-slider-thumb {
      all: unset;
      border-radius: 0;
      
      width: 16px;
      height: 4px;
      
      background: url(spritesheet-seek-slider-track.svg#lead) left top no-repeat;
   }
   &[value=0]:not(:hover):not(:active) {
      &::-moz-range-thumb,
      &::-webkit-slider-thumb {
         all: unset;
         border-radius: 0;
         
         width: 16px;
         height: 4px;
         
         background: transparent none;
      }
   }
   
   &:hover::-moz-range-thumb,
   &:hover::-webkit-slider-thumb {
      box-sizing: border-box;
      width:  15px;
      height: 8px;
      
      --image: url(spritesheet-jewel-no-shadow.svg#normal);
      
      background: transparent none;
      border-image: var(--image) 50% 49.9% / 4px 4px;
      
      &:hover {
         --image: url(spritesheet-jewel-no-shadow.svg#hover);
      }
      &:active {
         --image: url(spritesheet-jewel-no-shadow.svg#active);
      }
   }
}